/* This is a stylesheet for assignment2, 2page2, & 2page3 */
<!-- HTML -->
<p>
   <a href="exercise2.html" >Creative Technologies Program (CTK)</a>
</p>

/* CSS */
a {
  color: #ff0101;
  text-decoration: none;
}

a:link {
  color: #ff0101;
}

a:visited {
  color: #0eb82a;
}

a:active {
  color: #ff0000;
}

a:hover {
  color: #e9e645;
  text-decoration: underline;
}   

h1 {
    color: #ff0000;
    background-color:#000000
  }
  
  h2 {
    color: #a80000;
    background-color:#e9e645
  }
  h3 {
    color: #000000;
    background-color:#0eb82a
  }
  .spanstyle {
    color: #000000;
    background-color:#e9e645
  }
  #information {
    color: #cf2020;
  }